{{#if user.isAdmin}}
<h1>餐廳後台</h1>
{{else}}
<h1>餐廳清單</h1>
{{/if}}

<a href='/admin/restaurants/create'>
  <button type="button" class="btn btn-primary">New Restaurant</button>
</a>
{{#if user.isAdmin}}
<a href='/admin/users'>
  <button type="button" class="btn btn-primary">Users</button>
</a>
{{/if}}
<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}">
            Show
          </a>
        </button>
        {{!-- {{#if user.isAdmin}} --}}
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
        {{!-- {{/if}} --}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>